/* Header */
header {
  height: 50vh;
  width: %;
  background-image: url("imgs/3.jpg");
  background-size: cover;
  font-size: 200%;
  text-align: center;
  color : white;
}
.container-cent {
  text-align: center;
  color: white;
}
.centered h1 {
  text-shadow: 2px 2px 2px  black;
}
.centered {
    line-height: 40vh;
    display: inline-block;
    vertical-align: middle;
}


/* nav */

.salut {
  text-align: center;
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

/* li {
  padding-left: 80px; */
  
  
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
  background-color: #111;
}



/*Page content
Images (Portfolio)
 */ 
.flex-container {
    display: flex;
    flex-direction: row;
  }
.flex-container img {
    max-width: 350px;
    max-height: 350px;
    margin-left: 12px;
    transform: rotate(180deg);
    
  }

#doi {
  transform: scale(0.5);
} 

#portfolio {
    margin-right: 50px;
    margin-left: 50px;
  }
  #rotita
  {
    max-width: 350px;
    max-height: 350px;
    margin-left: 12px;
    transform: rotate(180deg);
  }
.centru {
color:black;
  text-align: center;
}


  /* Contact */

#contact {
  }
form {
    display: block;
    margin-top: 0em;
}
input {
  width: 100%;
}
input[type=text] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 12px 20px;
}


/* table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
table {
  border-spacing: 5px;
}
#table-croco{ 
}



/* Footer */

footer {
  background-color: rgb(221, 221, 221);
  text-align: center;
  font-size: 100% ;
  font-family: "Times New Roman", Times, serif;
}

.likut {
  color: rgb(94, 94, 94);
}